.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.container > label {
    color: #767676;
    font-size: calc(1rem - 2px);
    line-height: 16px;
    padding-bottom: 4px;
}

.container > input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    color: #767676;
    font-size: 1rem;
    line-height: 18px;
    padding: 12px 11px 11px;
}

.container .checkbox {
    display: flex;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
}

input[type="checkbox"] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    accent-color: #0DBDBD;
}

.container .error > label {
    font-size: 14px;
    line-height: 16px;
    color: #FF4B4B;
}

.container .invalid {
    visibility: visible;
}

.container .valid {
    visibility: hidden;
}

@media (min-width: 768px) {
    .container:nth-child(odd) {
        max-width: 340px;
    }

    .container:nth-child(even) {
        max-width: 180px;
    }

    .container:only-child {
        max-width: 100%;
    }

}