* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    body {
        background: #F5F5F5;
    }
}